:root {
  --personal-color-black: #000000;
  --personal-color-white: #ffffff;
  --personal-color-gray: #4d4d4d;
  --personal-color-pink: #F1DAF4;
}

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app > :not(hr) {
  max-width: 1000px;
  margin: auto;
}

.bg-image-circle {
  padding-top: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}

.bg-image-square {
  padding-top: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
